slider {
    appearance: none !important;
    height: 15px !important;
    background: url("chrome://nettspend/content/scrollbar/slider-hrz.gif") repeat-x;

    &[orient="vertical"] {
        width: 15px !important;
        background: url("chrome://nettspend/content/scrollbar/slider-vrt.gif") repeat-y !important;
    }
}

thumb,
scrollbarbutton {
    appearance: none !important;
    border: 1px solid black !important;
    background: #B1BBC5 50% 50% no-repeat !important;
    box-shadow: inset 1px 1px 0 #E4EBF2, inset -1px -1px 0 #8F9DAD, inset 2px 2px 0 #C3CAD2, inset -2px -2px 0 #A4AFBB !important;
    box-sizing: border-box !important;
}

thumb {
    min-height: 18px !important;

    &[orient="horizontal"] {
        min-width: 18px !important;
    }
}

scrollbarbutton {
    width: 15px;
    height: 15px;

    &[type="increment"] {
        background-image: url("chrome://nettspend/content/scrollbar/btn-rit.gif") !important;

        scrollbar[orient="vertical"] & {
            background-image: url("chrome://nettspend/content/scrollbar/btn-dn.gif") !important;
        }
    }

    &[type="decrement"] {
        background-image: url("chrome://nettspend/content/scrollbar/btn-lft.gif") !important;

        scrollbar[orient="vertical"] & {
            background-image: url("chrome://nettspend/content/scrollbar/btn-up.gif") !important;
        }
    }

    &:where(:active) {
        background-color: #9CA8B4 !important;
        box-shadow: inset -1px 1px 0 #708092, inset 1px 0 0 #ADB6C0, inset 0 -1px 0 #8795A4, inset 0 -2px 0 #929EAC !important;
    }
}

scrollcorner { 
    background-color: #B1BBC5 !important;
}