#navigator-throbber {
    appearance: none !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 2px 11px 4px 7px !important;
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    list-style-image: url("chrome://collabra/content/brand/throbber-single.gif");

    &[busy="true"] {
        list-style-image: url("chrome://collabra/content/brand/throbber-anim.gif");
    }
}