#TabsToolbar {
    background-color: #C7D0D9 !important;
    border-top: 1px solid #494F5D !important;
    border-bottom: 1px solid #BAC2CD !important;
    padding-block-end: 2px !important;

    .toolbar-items {
        border-bottom: 1px solid #000 !important;
    }
}

#tabbrowser-tabbox {
    border-top: 1px solid #000 !important;
}