:root {
    --urlbar-root-height: 25px !important;
    --urlbar-min-height: var(--urlbar-root-height) !important;
}

#urlbar-container {
    border: 3px solid transparent !important;
    border-image: url("chrome://collabra/content/navbar/nav-bar-inner.gif") 3 stretch !important;
    margin: 6px 0px 3px 5px !important;
    padding-inline: 5px !important;
    
    #urlbar {
        font-size: 1em !important;
        color: -moz-DialogText !important;
        width: calc(100% - 10px) !important;
        left: 5px !important;
        top: calc((33px - var(--urlbar-height)) / 2) !important;
        --urlbar-height: var(--urlbar-root-height) !important;

        #page-proxy-deck {
            width: 16px !important;
            height: 16px !important;
            margin: 1px 2px !important;

            #page-proxy-favicon {
                width: 100% !important;
                height: 100% !important;
                visibility: visible !important;

                &:not([src]),
                &[src="chrome://branding/content/icon32.png"] {
                    content: var(--page-icon) !important;
                }
            }
        }

        #tracking-protection-icon-container,
        #identity-permission-box,
        #urlbar-go-button,
        #identity-box,
        #page-action-buttons
        {
            visibility: collapse !important;
        }

        #urlbar-input {
            margin-inline: 4px !important;
        }

        #urlbar-input-container,
        .urlbar-input-container {
            padding: 0 !important;
            border: 3px solid transparent !important;
            height: var(--urlbar-root-height) !important;
        }
        
        #urlbar-background {
            border-top: 1px solid #A2AFBD !important;
            border-right: 1px solid #D2DAE1 !important;
            border-bottom: 1px solid #D2DAE1 !important;
            border-left: 1px solid #A5ACB5 !important;
            background: url("chrome://collabra/content/toolbar/urlbar-mid.gif") #EDF5F7 bottom repeat-x !important;
            height: var(--urlbar-root-height) !important;
            border-radius: 0 !important;
            outline: none !important;
            box-shadow: inset 0 0 0 1px #000000, inset 2px 2px 0 #A7BACA, inset -2px -2px 0 #768C9F !important;
        }

        #urlbar-input::placeholder {
            color: GrayText !important;
            opacity: 0 !important;
        }

        .autocomplete-history-dropmarker {
            width: 13px !important;
            height: 12px !important;
            appearance: none !important;
            margin: 0px 3px 2px 0px !important;
            list-style-image: url("chrome://collabra/content/toolbar/ubhist-arrow.gif") !important;
            align-self: center !important;
        }

        &[open] {
            .autocomplete-history-dropmarker {
                list-style-image: url("chrome://collabra/content/toolbar/ubhist-arrow-act.gif") !important;
            }
        }

        .urlbarView {
            display: flex !important;
            width: 100% !important;
            margin-inline: 0 !important;
            background-color: Field !important;
            border: 1px solid #22262F !important;
            overflow: visible !important;
            padding: 0 2px !important;
            color: -moz-DialogText !important;

            &::after {
                content: '' !important;
                display: inline-block !important;
                width: calc(100% - 3px) !important;
                height: calc(100% - 2px) !important;
                position: absolute !important;
                left: 6px !important;
                top: 5px !important;
                z-index: -1 !important;
                background-color: rgb(0 0 0 / 50%) !important;
                filter: blur(1px) !important;
            }

            strong {
                font-weight: normal !important;
            }

            .urlbarView-body-outer {
                .urlbarView-body-inner {
                    border: 0 !important;

                    .urlbarView-results {
                        padding-block: 0 !important;

                        .urlbarView-row {
                            min-height: 18px !important;
                            max-height: 18px !important;
                            border: 0 !important;
                            border-radius: 0 !important;
                            margin-block-start: 0 !important;
                            color: #555566 !important;

                            .urlbarView-row-inner {
                                min-height: 18px !important;
                                max-height: 18px !important;
                                padding-inline: 12px !important;
                                padding-block: 0 !important;
                                padding-bottom: 1px !important;

                                .urlbarView-url {
                                    flex-basis: 100% !important;
                                    flex-grow: 0 !important;
                                    font-size: unset !important;
                                    color: -moz-DialogText !important;
                                    order: -1 !important;
                                    margin-right: 15px !important;
                                }

                                .urlbarView-no-wrap {
                                    max-width: 35% !important;
                                    flex-basis: 35% !important;
                                    flex-grow: 1 !important;
                                    box-sizing: border-box !important;
                                }
                            }

                            &[row-selectable]:not([selected]):hover,
                            &[selected] {
                                color: White !important;
                                background-color: #9499AC !important;

                                .urlbarView-url {
                                    color: White !important;
                                }
                            }

                            &[type="search"],
                            &[has-action="true"] {
                                .urlbarView-row-inner {
                                    .urlbarView-no-wrap {
                                        width: 100% !important;
                                        flex-basis: unset !important;
                                        max-width: 100% !important;
                                    }

                                    .urlbarView-url {
                                        visibility: collapse !important;
                                    }
                                }
                            }
                        }
                    }
                }

                @media screen and (min-height: 600px) {
                    .urlbarView-results[wrap]>.urlbarView-row[has-url]>.urlbarView-row-inner>.urlbarView-url:-moz-locale-dir(ltr) {
                        padding-inline-start: 0 !important;
                    }

                    .urlbarView-results[wrap]>.urlbarView-row[has-url]>.urlbarView-row-inner>.urlbarView-url,
                    .urlbarView-results[wrap]>.urlbarView-row[type="bestmatch"]>.urlbarView-row-inner>.urlbarView-row-body>.urlbarView-row-body-top>.urlbarView-url {
                        margin-top: 0 !important;
                    }

                    .urlbarView-results[wrap]>.urlbarView-row:where(:not([rich-suggestion="with-icon"]))>.urlbarView-row-inner {
                        flex-wrap: nowrap !important;
                    }
                }
            }

            .search-one-offs:not([hidden]),
            .urlbarView-favicon,
            .urlbarView-type-icon, 
            .urlbarView-title-separator,
            .urlbarView-tags,
            .urlbarView-action,
            .urlbarView-button,
            .urlbarView-row[label]::before {
                visibility: collapse !important;
            }
        }

        &:not([open]) > .urlbarView, &:not([breakout]) > .urlbarView {
            display: none !important;
        }

        .urlbarView-overflowable[overflow], .urlbarView-url[overflow] {
            mask-image: none !important;
            text-overflow: ellipsis !important;
        }
    }
}