@import url("chrome://branding/content/brand.css");
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
:root {
  --btn1-icon-width: 42px !important;
  --btn1-icon-height: 39px !important;
  --page-icon: url("chrome://nettspend/content/bookmarks/bookmark-item.gif") !important;
}

.toolbarbutton-1#back-button {
  padding: 0 !important;
  opacity: 1 !important;
  align-items: flex-start !important;
}
.toolbarbutton-1#back-button .toolbarbutton-icon {
  --icon-offset: -0 !important;
  list-style-image: none !important;
  background-image: url("chrome://nettspend/content/btn1.gif") !important;
  background-position-y: calc(var(--btn1-icon-height) * var(--icon-offset)) !important;
  width: var(--btn1-icon-width) !important;
  height: var(--btn1-icon-height) !important;
  padding: 0 !important;
  border-radius: 0 !important;
  margin-inline-end: 2px !important;
}
.toolbarbutton-1#back-button:not([disabled=true]):hover .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -1) !important;
}
.toolbarbutton-1#back-button:not([disabled=true]):hover:active .toolbarbutton-icon, .toolbarbutton-1#back-button:not([disabled=true])[open=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -2) !important;
}
.toolbarbutton-1#back-button[disabled=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -3);
}
.toolbarbutton-1#forward-button {
  padding: 0 !important;
  opacity: 1 !important;
  align-items: flex-start !important;
}
.toolbarbutton-1#forward-button .toolbarbutton-icon {
  --icon-offset: -1 !important;
  list-style-image: none !important;
  background-image: url("chrome://nettspend/content/btn1.gif") !important;
  background-position-y: calc(var(--btn1-icon-height) * var(--icon-offset)) !important;
  width: var(--btn1-icon-width) !important;
  height: var(--btn1-icon-height) !important;
  padding: 0 !important;
  border-radius: 0 !important;
  margin-inline-end: 2px !important;
}
.toolbarbutton-1#forward-button:not([disabled=true]):hover .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -1) !important;
}
.toolbarbutton-1#forward-button:not([disabled=true]):hover:active .toolbarbutton-icon, .toolbarbutton-1#forward-button:not([disabled=true])[open=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -2) !important;
}
.toolbarbutton-1#forward-button[disabled=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -3);
}
.toolbarbutton-1#stop-button {
  padding: 0 !important;
  opacity: 1 !important;
  align-items: flex-start !important;
}
.toolbarbutton-1#stop-button .toolbarbutton-icon {
  --icon-offset: -3 !important;
  list-style-image: none !important;
  background-image: url("chrome://nettspend/content/btn1.gif") !important;
  background-position-y: calc(var(--btn1-icon-height) * var(--icon-offset)) !important;
  width: var(--btn1-icon-width) !important;
  height: var(--btn1-icon-height) !important;
  padding: 0 !important;
  border-radius: 0 !important;
  margin-inline-end: 2px !important;
}
.toolbarbutton-1#stop-button:not([disabled=true]):hover .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -1) !important;
}
.toolbarbutton-1#stop-button:not([disabled=true]):hover:active .toolbarbutton-icon, .toolbarbutton-1#stop-button:not([disabled=true])[open=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -2) !important;
}
.toolbarbutton-1#stop-button[disabled=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -3);
}
.toolbarbutton-1#reload-button {
  padding: 0 !important;
  opacity: 1 !important;
  align-items: flex-start !important;
}
.toolbarbutton-1#reload-button .toolbarbutton-icon {
  --icon-offset: -2 !important;
  list-style-image: none !important;
  background-image: url("chrome://nettspend/content/btn1.gif") !important;
  background-position-y: calc(var(--btn1-icon-height) * var(--icon-offset)) !important;
  width: var(--btn1-icon-width) !important;
  height: var(--btn1-icon-height) !important;
  padding: 0 !important;
  border-radius: 0 !important;
  margin-inline-end: 2px !important;
}
.toolbarbutton-1#reload-button:not([disabled=true]):hover .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -1) !important;
}
.toolbarbutton-1#reload-button:not([disabled=true]):hover:active .toolbarbutton-icon, .toolbarbutton-1#reload-button:not([disabled=true])[open=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -2) !important;
}
.toolbarbutton-1#reload-button[disabled=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -3);
}
.toolbarbutton-1#home-button {
  padding: 0 !important;
  opacity: 1 !important;
  align-items: flex-start !important;
}
.toolbarbutton-1#home-button .toolbarbutton-icon {
  --icon-offset: -4 !important;
  list-style-image: none !important;
  background-image: url("chrome://nettspend/content/btn1.gif") !important;
  background-position-y: calc(var(--btn1-icon-height) * var(--icon-offset)) !important;
  width: var(--btn1-icon-width) !important;
  height: var(--btn1-icon-height) !important;
  padding: 0 !important;
  border-radius: 0 !important;
  margin-inline-end: 2px !important;
}
.toolbarbutton-1#home-button:not([disabled=true]):hover .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -1) !important;
}
.toolbarbutton-1#home-button:not([disabled=true]):hover:active .toolbarbutton-icon, .toolbarbutton-1#home-button:not([disabled=true])[open=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -2) !important;
}
.toolbarbutton-1#home-button[disabled=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -3);
}
.toolbarbutton-1#unified-extensions-button {
  padding: 0 !important;
  opacity: 1 !important;
  align-items: flex-start !important;
}
.toolbarbutton-1#unified-extensions-button .toolbarbutton-icon {
  --icon-offset: -5 !important;
  list-style-image: none !important;
  background-image: url("chrome://nettspend/content/btn1.gif") !important;
  background-position-y: calc(var(--btn1-icon-height) * var(--icon-offset)) !important;
  width: var(--btn1-icon-width) !important;
  height: var(--btn1-icon-height) !important;
  padding: 0 !important;
  border-radius: 0 !important;
  margin-inline-end: 2px !important;
}
.toolbarbutton-1#unified-extensions-button:not([disabled=true]):hover .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -1) !important;
}
.toolbarbutton-1#unified-extensions-button:not([disabled=true]):hover:active .toolbarbutton-icon, .toolbarbutton-1#unified-extensions-button:not([disabled=true])[open=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -2) !important;
}
.toolbarbutton-1#unified-extensions-button[disabled=true] .toolbarbutton-icon {
  background-position-x: calc(var(--btn1-icon-width) * -3);
}

#reload-button,
#stop-button {
  display: flex !important;
}

.close-icon {
  width: 15px !important;
  height: 16px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  background-image: url("chrome://nettspend/content/close.png") !important;
  list-style-image: none !important;
  background-position-x: 0 !important;
}
.close-icon:hover {
  background-position-x: -15px !important;
}
.close-icon:hover:active, .close-icon[open] {
  background-position-x: -30px !important;
}

.default-favicon {
  content: var(--page-icon) !important;
}

image.default-favicon {
  list-style-image: var(--page-icon) !important;
}

toolbargrippy {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #EEF0F3;
  border-right: 1px solid #86929E;
  border-bottom: 1px solid #86929E;
  border-left: 1px solid #EEF0F3;
  list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow.gif");
}
toolbargrippy .toolbargrippy-arrow {
  margin: 0px 1px 3px 1px;
  width: 8px;
  height: 5px;
}
toolbargrippy:hover:active {
  border-color: #67737E;
  background-color: #9DA9B6;
  list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow-act.gif");
}
toolbargrippy[tbgrippy-collapsed=true] {
  justify-content: flex-start;
  flex-direction: row;
  width: 40px;
  list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow-clps.gif");
}
toolbargrippy[tbgrippy-collapsed=true] .toolbargrippy-arrow {
  margin: 1px 0px 1px 3px;
  width: 5px;
  height: 8px;
}
toolbargrippy[tbgrippy-collapsed=true]:hover:active .toolbargrippy-arrow {
  list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow-clps-act.gif");
}
toolbargrippy:not(.toolbar-primary-grippy) {
  margin-inline-end: 1px !important;
}

.collapsed-tray-holder {
  background-color: #C7D0D9;
}

.toolbar-primary-grippy {
  border: none;
  background: url("chrome://nettspend/content/toolbar/prtb-grip-mid.gif") repeat-y;
  list-style-image: url("chrome://nettspend/content/toolbar/prtb-grip-btm.gif");
  margin-inline-end: 3px !important;
}
.toolbar-primary-grippy .toolbargrippy-texture {
  width: 13px;
  height: 0px;
  background-image: url("chrome://nettspend/content/toolbar/prtb-grip-top.gif");
  background-size: 13px 100%;
}
.toolbar-primary-grippy .toolbargrippy-arrow {
  margin: 0px;
  width: 13px;
  height: 10px;
  list-style-image: inherit;
}
.toolbar-primary-grippy:hover:active {
  background-image: url("chrome://nettspend/content/toolbar/prtb-grip-mid-act.gif");
  list-style-image: url("chrome://nettspend/content/toolbar/prtb-grip-btm-act.gif");
}
.toolbar-primary-grippy:hover:active .toolbargrippy-texture {
  background-image: url("chrome://nettspend/content/toolbar/prtb-grip-top-act.gif");
}

[nettspend_collapsed=true] {
  visibility: collapse !important;
}

/*
*  SHITTY FUCKING HACK HELPPPPPP
*/
#toolbar-menubar,
#nav-bar,
#PersonalToolbar {
  position: relative !important;
}
#toolbar-menubar::after,
#nav-bar::after,
#PersonalToolbar::after {
  content: "";
  display: flex;
  width: calc(100% - 12px);
  height: 100%;
  margin-inline-start: 12px;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
}

#navigator-toolbox {
  border-bottom: 0 !important;
}

:root[nettspend-unified-extensions-disabled] #unified-extensions-button {
  display: none !important;
}

#toolbar-menubar {
  background-color: rgb(221, 227, 235) !important;
}
#toolbar-menubar toolbargrippy {
  border-top: 1px solid #EBF4FF;
  border-right: 1px solid #B9BFC7;
  border-bottom: 1px solid #B9BFC7;
  border-left: 1px solid #F4FAFF;
  background-color: #DDE3EB;
  list-style-image: url("chrome://nettspend/content/toolbar/mbgrip-arrow.gif");
}
#toolbar-menubar toolbargrippy:hover:active {
  border-color: #67737E;
  background-color: #9DA9B6;
  list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow-act.gif");
}
#toolbar-menubar::after {
  border-top: 1px solid #EBF4FF;
  border-right: 1px solid #86929E;
  border-bottom: 1px solid #B9BFC7;
  border-left: 1px solid #EEF4FC;
}

#nav-bar {
  background-color: rgb(177, 189, 201) !important;
  box-shadow: none !important;
  min-height: 47px !important;
  max-height: 47px !important;
  background: url("chrome://nettspend/content/toolbar/prtb-bg-noline.gif") repeat-x top;
}
#nav-bar::after {
  border-top: none;
  border-right: 1px solid #95A0AD;
  border-bottom: 1px solid #95A0AD;
  border-left: none;
}

#PanelUI-button {
  margin-inline-start: -1px !important;
}
#PanelUI-button #PanelUI-menu-button {
  appearance: none !important;
  list-style-image: none !important;
  border: 0 !important;
  max-width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
}

#PersonalToolbar {
  transition: none !important;
  height: 24px !important;
  padding-inline: 0 !important;
  background-color: #C7D0D9 !important;
  background: url("chrome://nettspend/content/toolbar/tb-mid.gif") repeat-x top;
}
#PersonalToolbar toolbargrippy {
  border-top: 1px solid #CED6DD;
  border-right: 1px solid #95A0AD;
  border-bottom: 1px solid #95A0AD;
  border-left: 1px solid #DAE3ED;
}
#PersonalToolbar toolbargrippy:hover:active {
  border-color: #67737E;
}
#PersonalToolbar::after {
  border-top: 1px solid #CED6DD;
  border-right: 1px solid #95A0AD;
  border-bottom: 1px solid #95A0AD;
  border-left: 1px solid #DAE3ED;
}
#PersonalToolbar .toolbarbutton-1,
#PersonalToolbar .bookmark-item {
  padding: 1px 2px !important;
  align-items: center !important;
  cursor: pointer;
  margin: 0 !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  margin-block: 1px !important;
}
#PersonalToolbar .toolbarbutton-1:hover,
#PersonalToolbar .bookmark-item:hover {
  text-decoration: underline !important;
}
#PersonalToolbar .toolbarbutton-1:hover:active, #PersonalToolbar .toolbarbutton-1[open=true],
#PersonalToolbar .bookmark-item:hover:active,
#PersonalToolbar .bookmark-item[open=true] {
  padding: 2px 1px 0px 3px !important;
}
#PersonalToolbar .toolbarbutton-1[container=true],
#PersonalToolbar .bookmark-item[container=true] {
  list-style-image: url("chrome://nettspend/content/bookmarks/bookmark-folder-closed.gif") !important;
  cursor: default;
  text-decoration: none !important;
}
#PersonalToolbar .toolbarbutton-1[container=true]:hover,
#PersonalToolbar .bookmark-item[container=true]:hover {
  border-top-color: #EEF0F3 !important;
  border-right-color: #86929E !important;
  border-bottom-color: #86929E !important;
  border-left-color: #EEF0F3 !important;
}
#PersonalToolbar .toolbarbutton-1[container=true]:hover:active, #PersonalToolbar .toolbarbutton-1[container=true][open=true],
#PersonalToolbar .bookmark-item[container=true]:hover:active,
#PersonalToolbar .bookmark-item[container=true][open=true] {
  list-style-image: url("chrome://nettspend/content/bookmarks/bookmark-folder-open.gif") !important;
  border-top-color: #86929E !important;
  border-right-color: #EEF0F3 !important;
  border-bottom-color: #EEF0F3 !important;
  border-left-color: #86929E !important;
}
#PersonalToolbar .toolbarbutton-1 .toolbarbutton-icon,
#PersonalToolbar .bookmark-item .toolbarbutton-icon {
  margin-inline-end: 2px !important;
}
#PersonalToolbar .toolbarbutton-1:not(#sidebar-button) .toolbarbutton-badge-stack,
#PersonalToolbar .toolbarbutton-1:not(#sidebar-button) .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  margin-inline-end: 2px !important;
}
#PersonalToolbar .toolbarbutton-1:not(#sidebar-button) .toolbarbutton-text {
  display: flex !important;
  border-radius: 0 !important;
  padding: 0 !important;
  min-height: auto !important;
  background-color: transparent !important;
}
#PersonalToolbar .toolbarbutton-1:not(#sidebar-button)#home-button .toolbarbutton-icon, #PersonalToolbar .toolbarbutton-1:not(#sidebar-button)#search-button .toolbarbutton-icon {
  width: 22px !important;
  height: 17px !important;
  margin-inline-end: 1px !important;
  background-image: none !important;
  list-style-image: inherit !important;
}
#PersonalToolbar .toolbarbutton-1:not(#sidebar-button)#home-button {
  list-style-image: url("chrome://nettspend/content/bookmarks/home.gif") !important;
}
#PersonalToolbar .toolbarbutton-1:not(#sidebar-button)#search-button {
  list-style-image: url("chrome://nettspend/content/bookmarks/search-btn.gif") !important;
}
#PersonalToolbar #sidebar-button {
  margin: 0 !important;
  padding: 0 !important;
  list-style-image: url("chrome://nettspend/content/sbar-open.gif") !important;
  align-items: flex-end !important;
  z-index: 1 !important;
  margin-inline-start: 1px !important;
  cursor: pointer !important;
  border: 0 !important;
}
#PersonalToolbar #sidebar-button:hover {
  list-style-image: url("chrome://nettspend/content/sbar-open-hov.gif") !important;
}
#PersonalToolbar #sidebar-button:hover:active {
  list-style-image: url("chrome://nettspend/content/sbar-open-act.gif") !important;
}
#PersonalToolbar #sidebar-button[checked] {
  list-style-image: url("chrome://nettspend/content/sbar-close.gif") !important;
}
#PersonalToolbar #sidebar-button[checked]:hover {
  list-style-image: url("chrome://nettspend/content/sbar-close-hov.gif") !important;
}
#PersonalToolbar #sidebar-button[checked]:hover:active {
  list-style-image: url("chrome://nettspend/content/sbar-close-act.gif") !important;
}
#PersonalToolbar #sidebar-button .toolbarbutton-icon {
  width: 51px !important;
  height: 22px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
#PersonalToolbar #sidebar-button .toolbarbutton-text {
  display: none !important;
}

:root {
  --urlbar-root-height: 25px !important;
  --urlbar-min-height: var(--urlbar-root-height) !important;
}

#urlbar-container {
  border: 3px solid transparent !important;
  border-image: url("chrome://nettspend/content/navbar/nav-bar-inner.gif") 3 stretch !important;
  margin: 6px 0px 3px 5px !important;
  padding-inline: 5px !important;
}
#urlbar-container #urlbar {
  font-size: 1em !important;
  color: -moz-DialogText !important;
  width: calc(100% - 10px) !important;
  left: 5px !important;
  top: calc((33px - var(--urlbar-height)) / 2) !important;
  --urlbar-height: var(--urlbar-root-height) !important;
}
#urlbar-container #urlbar #page-proxy-deck {
  width: 16px !important;
  height: 16px !important;
  margin: 1px 2px !important;
}
#urlbar-container #urlbar #page-proxy-deck #page-proxy-favicon {
  width: 100% !important;
  height: 100% !important;
  visibility: visible !important;
}
#urlbar-container #urlbar #page-proxy-deck #page-proxy-favicon:not([src]), #urlbar-container #urlbar #page-proxy-deck #page-proxy-favicon[src="chrome://branding/content/icon32.png"] {
  content: var(--page-icon) !important;
}
#urlbar-container #urlbar #tracking-protection-icon-container,
#urlbar-container #urlbar #identity-permission-box,
#urlbar-container #urlbar #urlbar-go-button,
#urlbar-container #urlbar #identity-box,
#urlbar-container #urlbar #page-action-buttons {
  visibility: collapse !important;
}
#urlbar-container #urlbar #urlbar-input {
  margin-inline: 4px !important;
}
#urlbar-container #urlbar #urlbar-input-container,
#urlbar-container #urlbar .urlbar-input-container {
  padding: 0 !important;
  border: 3px solid transparent !important;
  height: var(--urlbar-root-height) !important;
}
#urlbar-container #urlbar #urlbar-background {
  border-top: 1px solid #A2AFBD !important;
  border-right: 1px solid #D2DAE1 !important;
  border-bottom: 1px solid #D2DAE1 !important;
  border-left: 1px solid #A5ACB5 !important;
  background: url("chrome://nettspend/content/toolbar/urlbar-mid.gif") #EDF5F7 bottom repeat-x !important;
  height: var(--urlbar-root-height) !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: inset 0 0 0 1px #000000, inset 2px 2px 0 #A7BACA, inset -2px -2px 0 #768C9F !important;
}
#urlbar-container #urlbar #urlbar-input::placeholder {
  color: GrayText !important;
  opacity: 0 !important;
}
#urlbar-container #urlbar .autocomplete-history-dropmarker {
  width: 13px !important;
  height: 12px !important;
  appearance: none !important;
  margin: 0px 3px 2px 0px !important;
  list-style-image: url("chrome://nettspend/content/toolbar/ubhist-arrow.gif") !important;
  align-self: center !important;
}
#urlbar-container #urlbar[open] .autocomplete-history-dropmarker {
  list-style-image: url("chrome://nettspend/content/toolbar/ubhist-arrow-act.gif") !important;
}
#urlbar-container #urlbar .urlbarView {
  display: flex !important;
  width: 100% !important;
  margin-inline: 0 !important;
  background-color: Field !important;
  border: 1px solid #22262F !important;
  overflow: visible !important;
  padding: 0 2px !important;
  color: -moz-DialogText !important;
}
#urlbar-container #urlbar .urlbarView::after {
  content: "" !important;
  display: inline-block !important;
  width: calc(100% - 3px) !important;
  height: calc(100% - 2px) !important;
  position: absolute !important;
  left: 6px !important;
  top: 5px !important;
  z-index: -1 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  filter: blur(1px) !important;
}
#urlbar-container #urlbar .urlbarView strong {
  font-weight: normal !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner {
  border: 0 !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results {
  padding-block: 0 !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row {
  min-height: 18px !important;
  max-height: 18px !important;
  border: 0 !important;
  border-radius: 0 !important;
  margin-block-start: 0 !important;
  color: #555566 !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row .urlbarView-row-inner {
  min-height: 18px !important;
  max-height: 18px !important;
  padding-inline: 12px !important;
  padding-block: 0 !important;
  padding-bottom: 1px !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row .urlbarView-row-inner .urlbarView-url {
  flex-basis: 100% !important;
  flex-grow: 0 !important;
  font-size: unset !important;
  color: -moz-DialogText !important;
  order: -1 !important;
  margin-right: 15px !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row .urlbarView-row-inner .urlbarView-no-wrap {
  max-width: 35% !important;
  flex-basis: 35% !important;
  flex-grow: 1 !important;
  box-sizing: border-box !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row[row-selectable]:not([selected]):hover, #urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row[selected] {
  color: White !important;
  background-color: #9499AC !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row[row-selectable]:not([selected]):hover .urlbarView-url, #urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row[selected] .urlbarView-url {
  color: White !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row[type=search] .urlbarView-row-inner .urlbarView-no-wrap, #urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row[has-action=true] .urlbarView-row-inner .urlbarView-no-wrap {
  width: 100% !important;
  flex-basis: unset !important;
  max-width: 100% !important;
}
#urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row[type=search] .urlbarView-row-inner .urlbarView-url, #urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-body-inner .urlbarView-results .urlbarView-row[has-action=true] .urlbarView-row-inner .urlbarView-url {
  visibility: collapse !important;
}
@media screen and (min-height: 600px) {
  #urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-results[wrap] > .urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(ltr) {
    padding-inline-start: 0 !important;
  }
  #urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-results[wrap] > .urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url,
  #urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-results[wrap] > .urlbarView-row[type=bestmatch] > .urlbarView-row-inner > .urlbarView-row-body > .urlbarView-row-body-top > .urlbarView-url {
    margin-top: 0 !important;
  }
  #urlbar-container #urlbar .urlbarView .urlbarView-body-outer .urlbarView-results[wrap] > .urlbarView-row:where(:not([rich-suggestion=with-icon])) > .urlbarView-row-inner {
    flex-wrap: nowrap !important;
  }
}
#urlbar-container #urlbar .urlbarView .search-one-offs:not([hidden]),
#urlbar-container #urlbar .urlbarView .urlbarView-favicon,
#urlbar-container #urlbar .urlbarView .urlbarView-type-icon,
#urlbar-container #urlbar .urlbarView .urlbarView-title-separator,
#urlbar-container #urlbar .urlbarView .urlbarView-tags,
#urlbar-container #urlbar .urlbarView .urlbarView-action,
#urlbar-container #urlbar .urlbarView .urlbarView-button,
#urlbar-container #urlbar .urlbarView .urlbarView-row[label]::before {
  visibility: collapse !important;
}
#urlbar-container #urlbar:not([open]) > .urlbarView, #urlbar-container #urlbar:not([breakout]) > .urlbarView {
  display: none !important;
}
#urlbar-container #urlbar .urlbarView-overflowable[overflow], #urlbar-container #urlbar .urlbarView-url[overflow] {
  mask-image: none !important;
  text-overflow: ellipsis !important;
}

:root {
  --tab-min-height: 21px !important;
}

#TabsToolbar {
  background-color: #C7D0D9 !important;
  border-top: 1px solid #494F5D !important;
  border-bottom: 1px solid #BAC2CD !important;
  padding-block-end: 3px !important;
}
:root[inFullscreen] #TabsToolbar {
  display: none !important;
}
#TabsToolbar #tabbrowser-tabs {
  margin-block-start: 1px !important;
}
#TabsToolbar #tabbrowser-tabs:not([movingtab]) {
  margin-block-end: -1px !important;
}
#TabsToolbar #tabbrowser-tabs[movingtab] {
  padding-bottom: 0px !important;
  margin-block-end: -1px !important;
}
#TabsToolbar .toolbar-items {
  border-bottom: 1px solid #000 !important;
}
#TabsToolbar .tabbrowser-tab {
  padding: 0 !important;
}
#TabsToolbar .tabbrowser-tab .tab-content {
  padding-inline: 6px !important;
}
#TabsToolbar .tabbrowser-tab .tab-content .tab-text {
  width: 100% !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
#TabsToolbar .tabbrowser-tab .tab-content .tab-throbber:not([pinned]),
#TabsToolbar .tabbrowser-tab .tab-content .tab-icon-pending:not([pinned]),
#TabsToolbar .tabbrowser-tab .tab-content .tab-icon-image:not([pinned]),
#TabsToolbar .tabbrowser-tab .tab-content .tab-sharing-icon-overlay:not([pinned]),
#TabsToolbar .tabbrowser-tab .tab-content .tab-icon-overlay:not([pinned]) {
  margin-inline-end: 2px !important;
}
#TabsToolbar .tabbrowser-tab .tab-content .tab-throbber[busy] {
  background-image: url("chrome://nettspend/content/loading.gif") !important;
  opacity: 0.6 !important;
}
#TabsToolbar .tabbrowser-tab .tab-content .tab-throbber[busy][progress] {
  opacity: 0.6 !important;
}
#TabsToolbar .tabbrowser-tab .tab-content .tab-throbber[busy]::before {
  content: none !important;
}
#TabsToolbar .tabbrowser-tab .tab-content .tab-icon-image:not([src], [busy=true]),
#TabsToolbar .tabbrowser-tab .tab-content .tab-icon-image:not([busy=true]):-moz-broken,
#TabsToolbar .tabbrowser-tab .tab-content .tab-icon-image:not([busy=true])[src="chrome://branding/content/icon32.png"] {
  display: flex !important;
  content: var(--page-icon) !important;
}
#TabsToolbar .tabbrowser-tab .tab-content .tab-secondary-label {
  visibility: collapse !important;
}
#TabsToolbar .tabbrowser-tab .tab-background {
  border-radius: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  border: 3px solid transparent;
  border-image: url("chrome://nettspend/content/tabbrowser/tab.png") 3 stretch !important;
  box-shadow: none !important;
  background-image: linear-gradient(to top, #9CABBA, #9CABBA) !important;
  background-size: calc(100% - 6px), calc(100% - 6px) !important;
  background-position: 3px 3px !important;
  background-origin: border-box !important;
  background-repeat: repeat-x !important;
}
#TabsToolbar .tabbrowser-tab .tab-background[selected] {
  background-image: linear-gradient(to top, #C7D0D9, #C7D0D9) !important;
  border-image: url("chrome://nettspend/content/tabbrowser/tab-selected.png") 3 stretch !important;
}
#TabsToolbar .tabbrowser-tab:hover:active {
  color: #fff !important;
}
#TabsToolbar .tabbrowser-tab:hover:active .tab-background {
  background-image: linear-gradient(to top, #8B9AAD, #8B9AAD) !important;
  border-image: url("chrome://nettspend/content/tabbrowser/tab-active.png") 3 stretch !important;
}
#TabsToolbar .tabbrowser-tab .tab-label-container {
  height: unset !important;
}
#TabsToolbar .tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}
#TabsToolbar .tabs-closebutton-box {
  margin: 0px 4px !important;
  padding: 3px 2px !important;
}
#TabsToolbar #tabbrowser-tabs:not([overflow], [hashiddentabs]) ~ #alltabs-button {
  display: none !important;
}
#TabsToolbar #new-tab-button {
  list-style-image: url("chrome://nettspend/content/tabbrowser/tab-new.gif") !important;
  padding-top: 2px !important;
  padding-right: 5px !important;
  padding-bottom: 3px !important;
  padding-left: 2px !important;
}
#TabsToolbar #new-tab-button:hover {
  list-style-image: url("chrome://nettspend/content/tabbrowser/tab-new-hov.gif") !important;
}
#TabsToolbar #new-tab-button:hover:active {
  list-style-image: url("chrome://nettspend/content/tabbrowser/tab-new-act.gif") !important;
}
#TabsToolbar #new-tab-button .toolbarbutton-icon {
  border-radius: 0 !important;
  width: 22px !important;
  height: 17px !important;
  padding: 0 !important;
  border-color: transparent !important;
  margin-inline-end: 2px !important;
}
#TabsToolbar #new-tab-button .toolbarbutton-text {
  padding: 0 !important;
  min-height: unset !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
:root:not([nettspend-appearance-mozilla]) #TabsToolbar #new-tab-button .toolbarbutton-text {
  display: flex !important;
}

#tabbrowser-tabbox {
  border-top: 1px solid #000 !important;
}

#main-menubar {
  margin-block: 1px !important;
}

menubar > menu {
  color: -moz-DialogText !important;
  border: 1px solid transparent;
  background-color: transparent !important;
  padding: 1px 4px 2px 4px !important;
  margin: 1px 0px 1px 0px !important;
}
menubar > menu[_moz-menuactive=true] {
  border-top: 1px solid #F4F6F9 !important;
  border-left: 1px solid #F4F6F9 !important;
  border-bottom: 1px solid #7A7D82 !important;
  border-right: 1px solid #7A7D82 !important;
}
menubar > menu[_moz-menuactive=true][open=true] {
  border-right: 1px solid #F4F6F9 !important;
  border-bottom: 1px solid #F4F6F9 !important;
  border-top: 1px solid #7A7D82 !important;
  border-left: 1px solid #7A7D82 !important;
}
menubar > menu .menubar-text {
  margin: 0 !important;
}

@media not (-moz-windows-non-native-menus) {
  menupopup {
    appearance: none !important;
    border: 1px solid #7F8893 !important;
    box-shadow: inset 1px 1px 0 #EEF4FC, inset -1px -1px 0 #B9BFC7 !important;
    background-color: #DDE3EB !important;
  }
  menupopup menuseparator {
    appearance: none !important;
    padding: 0 !important;
    border-top: 1px solid #A5ABC0 !important;
    border-bottom: 1px solid #EEF1F7 !important;
    margin-inline: 3px !important;
    margin-block: 2px !important;
  }
  menupopup .menu-iconic .menu-iconic-left,
  menupopup .menuitem-iconic .menu-iconic-left {
    appearance: none !important;
    width: 16px !important;
  }
  menupopup .menu-text,
  menupopup .menu-iconic-left,
  menupopup .menu-iconic-text {
    appearance: none !important;
    margin: 0px 2px 0px 0px !important;
  }
  menupopup .menu-text {
    padding: 0 !important;
    margin-left: 18px !important;
  }
  menupopup menu,
  menupopup menuitem {
    padding: 2px !important;
    appearance: none !important;
  }
  menupopup menu:where([_moz-menuactive=true]):not([disabled=true]),
  menupopup menuitem:where([_moz-menuactive=true]):not([disabled=true]) {
    background-color: #424F63 !important;
    color: white !important;
  }
  menupopup .menu-accel,
  menupopup .menu-iconic-accel {
    margin: 0px 2px 0px 7px !important;
    padding-right: 14px !important;
    color: inherit !important;
  }
  menupopup .menu-right {
    appearance: none !important;
    margin: 0px 0px 0px 6px !important;
    width: 8px !important;
    padding: 0 !important;
    list-style-image: url("chrome://nettspend/content/menu/menu-arrow.gif") !important;
  }
  menupopup .menu-right[_moz-menuactive=true] {
    list-style-image: url("chrome://nettspend/content/menu/menu-arrow-hov.gif") !important;
  }
  menupopup .menu-right[disabled=true] {
    list-style-image: url("chrome://nettspend/content/menu/menu-arrow-dis.gif") !important;
  }
  menupopup .menu-right > image {
    width: auto !important;
    height: auto !important;
  }
  menupopup menuitem[checked=true] {
    list-style-image: url("chrome://nettspend/content/menu/menu-check.gif") !important;
  }
  menupopup menuitem[checked=true][disabled=true] {
    list-style-image: url("chrome://nettspend/content/menu/menu-check-dis.gif") !important;
  }
  menupopup menuitem[checked=true][_moz-menuactive=true] {
    list-style-image: url("chrome://nettspend/content/menu/menu-check-hov.gif") !important;
  }
  menupopup menuitem[checked=true][type=radio] {
    list-style-image: url("chrome://nettspend/content/menu/menu-radio.gif") !important;
  }
  menupopup menuitem[checked=true][type=radio][disabled=true] {
    list-style-image: url("chrome://nettspend/content/menu/menu-radio-dis.gif") !important;
  }
  menupopup menuitem[checked=true][type=radio][_moz-menuactive=true] {
    list-style-image: url("chrome://nettspend/content/menu/menu-radio-hov.gif") !important;
  }
  menupopup menuitem[checked=true] .menu-iconic-icon {
    display: flex !important;
  }
  #context-navigation {
    background: transparent !important;
    flex-direction: column !important;
  }
  #context-navigation > .menuitem-iconic {
    width: unset !important;
  }
  #context-navigation > .menuitem-iconic > .menu-iconic-left {
    appearance: none !important;
    margin: 0px 2px 0px 0px !important;
  }
  #context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
    display: none !important;
  }
  #context-navigation > .menuitem-iconic .menu-iconic-text {
    display: block !important;
    appearance: none !important;
    margin: 0px 2px 0px 0px !important;
  }
}
#status-bar {
  border-top: 1px solid #494F5D !important;
  background-color: #C7D0D9 !important;
  color: #22262F !important;
  font-size: smaller !important;
}
:root[inFullscreen] #status-bar {
  display: none !important;
}
#status-bar statusbarpanel {
  align-items: center !important;
  border-top: 1px solid #E0ECF6 !important;
  border-right: 1px solid #8997A1 !important;
  border-left: 1px solid #E0ECF6 !important;
  padding: 0px 4px !important;
}
#status-bar #statuspanel {
  display: flex !important;
  position: static !important;
  visibility: visible !important;
  opacity: 1 !important;
  padding: 0 !important;
  max-width: 100% !important;
  min-width: 100% !important;
  align-items: center !important;
}
#status-bar #statuspanel #statuspanel-label {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}
#status-bar #statuspanel[inactive] #statuspanel-label {
  opacity: 0 !important;
}
#status-bar .statusbarpanel-iconic {
  padding: 0px !important;
}
#status-bar .statusbar-resizerpanel {
  border: 0 !important;
  padding: 0 !important;
}
#status-bar #component-bar {
  padding: 1px 3px 0px 3px;
}
#status-bar #component-bar .taskbutton {
  appearance: none !important;
  margin: 0px 3px !important;
  border: none !important;
  padding: 0px !important;
}
#status-bar #component-bar #mini-nav {
  list-style-image: url("chrome://branding/content/navigator.gif");
  margin-right: 2px;
}
#status-bar #component-bar #mini-nav:hover:active {
  list-style-image: url("chrome://branding/content/navigator-act.gif");
}
#status-bar #component-bar #mini-mail {
  list-style-image: url("chrome://nettspend/content/taskbar/mail.gif");
  margin-left: 1px;
}
#status-bar #component-bar #mini-mail:hover:active {
  list-style-image: url("chrome://nettspend/content/taskbar/mail-act.gif");
}
#status-bar #component-bar #mini-addr {
  list-style-image: url("chrome://nettspend/content/taskbar/addressbook.gif");
}
#status-bar #component-bar #mini-addr:hover:active {
  list-style-image: url("chrome://nettspend/content/taskbar/addressbook-act.gif");
}
#status-bar #component-bar #mini-comp {
  list-style-image: url("chrome://nettspend/content/taskbar/composer.gif");
}
#status-bar #component-bar #mini-comp:hover:active {
  list-style-image: url("chrome://nettspend/content/taskbar/composer-act.gif");
}
#status-bar #component-bar #mini-irc {
  list-style-image: url("chrome://nettspend/content/taskbar/taskbar-irc.gif");
}
#status-bar .fakeresizer {
  list-style-image: url("chrome://nettspend/content/resizer.png") !important;
  cursor: se-resize !important;
  width: 15px !important;
  height: 15px !important;
}
#status-bar #offline-status {
  list-style-image: url("chrome://nettspend/content/online.gif");
}
#status-bar #offline-status[offline] {
  list-style-image: url("chrome://nettspend/content/offline.gif");
}
#status-bar #security-button {
  list-style-image: url("chrome://nettspend/content/lock-insecure.gif");
}
#status-bar #security-button[level=high] {
  list-style-image: url("chrome://nettspend/content/lock-secure.gif");
}

/*# sourceMappingURL=nettspend.css.map */
