#nav-bar {
    background-color: rgb(177, 189, 201) !important;
    box-shadow: none !important;
    min-height: 47px !important;
    max-height: 47px !important;
    background: url("chrome://nettspend/content/toolbar/prtb-bg-noline.gif") repeat-x top;

    &::after {
        border-top: none;
        border-right: 1px solid #95A0AD;
        border-bottom: 1px solid #95A0AD;
        border-left: none;
    }
}

#PanelUI-button {
    margin-inline-start: -1px !important;

    #PanelUI-menu-button {
        appearance: none !important;
        list-style-image: none !important;
        border: 0 !important;
        max-width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
    }
}

#nav-bar-overflow-button,
#PlacesChevron {
    padding: 1px 2px !important;
    border: 1px solid transparent !important;
    background-color: transparent !important;
    list-style-image: url("chrome://nettspend/content/chevron.gif") !important;

    &:hover {
        border-top-color: #EEF0F3 !important;
        border-right-color: #86929E !important;
        border-bottom-color: #86929E !important;
        border-left-color: #EEF0F3 !important;
    }

    &:hover:active,
    &[open="true"] {
        border-top-color: #86929E !important;
        border-right-color: #EEF0F3 !important;
        border-bottom-color: #EEF0F3 !important;
        border-left-color: #86929E !important;
        padding: 2px 1px 0px 3px !important;
    }

    .toolbarbutton-icon {
        width: 8px !important;
        height: 5px !important;
        background-color: transparent !important;
        border-radius: 0 !important;
        margin-inline-end: 2px !important;
        padding: 0 !important;
    }
}