toolbargrippy {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #EEF0F3;
    border-right: 1px solid #86929E;
    border-bottom: 1px solid #86929E;
    border-left: 1px solid #EEF0F3;
    list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow.gif");

    .toolbargrippy-arrow {
        margin: 0px 1px 3px 1px;
        width: 8px;
        height: 5px;
    }

    &:hover:active {
        border-color: #67737E;
        background-color: #9DA9B6;
        list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow-act.gif");
    }

    &[tbgrippy-collapsed="true"] {
        justify-content: flex-start;
        flex-direction: row;
        width: 40px;
        list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow-clps.gif");

        .toolbargrippy-arrow {
            margin: 1px 0px 1px 3px;
            width: 5px;
            height: 8px;
        }

        &:hover:active {
            .toolbargrippy-arrow {
                list-style-image: url("chrome://nettspend/content/toolbar/tbgrip-arrow-clps-act.gif");
            }
        }
    }

    &:not(.toolbar-primary-grippy) {
        margin-inline-end: 1px !important;
    }
}

.collapsed-tray-holder {
    background-color: #C7D0D9;
}

.toolbar-primary-grippy {
    border: none;
    background: url("chrome://nettspend/content/toolbar/prtb-grip-mid.gif") repeat-y;
    list-style-image: url("chrome://nettspend/content/toolbar/prtb-grip-btm.gif");
    margin-inline-end: 3px !important;

    .toolbargrippy-texture {
        width: 13px;
        height: 0px;
        background-image: url("chrome://nettspend/content/toolbar/prtb-grip-top.gif");
        background-size: 13px 100%;
    }

    .toolbargrippy-arrow {
        margin: 0px;
        width: 13px;
        height: 10px;
        list-style-image: inherit;
    }

    &:hover:active {
        background-image: url("chrome://nettspend/content/toolbar/prtb-grip-mid-act.gif");
        list-style-image: url("chrome://nettspend/content/toolbar/prtb-grip-btm-act.gif");

        .toolbargrippy-texture {
            background-image: url("chrome://nettspend/content/toolbar/prtb-grip-top-act.gif");
        }
    }
}

[nettspend_collapsed="true"] {
    visibility: collapse !important;
}