#tabbrowser-tabbox {
    border-top: 1px solid ThreeDDarkShadow !important;
    border-bottom: 1px solid ThreeDLightShadow !important;
    border-left: 1px solid ThreeDShadow !important;
    padding-inline-start: 1px !important;
    box-shadow: inset 1px 0 0 ThreeDDarkShadow !important;
}