toolbargrippy {
    flex-direction: column !important;
    justify-content: center !important;
    border-left: 1px solid ThreeDHighlight !important;
    border-top: 1px solid ThreeDHighlight !important;
    border-right: 1px solid ThreeDShadow !important;
    border-bottom: 1px solid ThreeDShadow !important;
    width: 10px !important;
    padding: 2px 1px !important;
    list-style-image: url("chrome://nettspend/skin/images/toolbar/tbgrip-arrow.gif") !important;

    &:not([tbgrippy-collapsed="true"]) {
        margin: -1px !important;
        margin-inline-end: 1px !important;
    }

    &:hover {
        background-color: #CCCCFF !important;
    }

    .toolbargrippy-texture {
        margin-top: 2px !important;
        width: 6px !important;
        background: url("chrome://nettspend/skin/images/toolbar/tbgrip-texture.gif") !important;
    }

    &[tbgrippy-collapsed="true"] {
        flex-direction: row !important;
        border-left: 1px solid ThreeDHighlight !important;
        border-top: 1px solid ThreeDHighlight !important;
        border-right: 1px solid ThreeDShadow !important;
        border-bottom: 1px solid ThreeDShadow !important;
        width: 40px !important;
        height: 10px !important;
        padding: 1px 2px !important;
        list-style-image: url("chrome://nettspend/skin/images/toolbar/tbgrip-arrow-clps.gif") !important;

        .toolbargrippy-texture {
            margin-top: 0 !important;
            margin-left: 2px !important;
            width: none !important;
            height: 6px !important;
        }
    }
}

.collapsed-tray-spacer {
    border-bottom: 1px solid ThreeDShadow !important;
}