toolbox,
#navigator-toolbox {
    border-block-end: 0 !important;
    background-color: -moz-Dialog !important;
    color: -moz-DialogText !important;
    border-left: 1px solid ThreeDShadow !important;
    border-top: 1px solid ThreeDShadow !important;
    border-right: 1px solid ThreeDHighlight !important;
}