toolbox,
#navigator-toolbox {
  border-block-end: 0 !important;
  background-color: -moz-Dialog !important;
  color: -moz-DialogText !important;
}

.browser-toolbar {
  background-color: inherit !important;
  color: inherit !important;
  padding: 0 !important;
}

*[moz-collapsed=true] {
  visibility: collapse !important;
}

toolbarbutton {
  -moz-default-appearance: toolbarbutton !important;
  appearance: auto !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  margin: 0 !important;
  border: 1px solid transparent;
  border-radius: 0 !important;
  padding: 3px !important;
  background-color: transparent !important;
  color: -moz-DialogText !important;
  text-shadow: none !important;
  opacity: 1 !important;
}
toolbarbutton .toolbarbutton-badge-stack,
toolbarbutton .toolbarbutton-icon {
  border-radius: 0 !important;
  padding: 0 !important;
  margin-right: 2px !important;
  background-color: inherit !important;
}
toolbarbutton .toolbarbutton-text {
  background-color: inherit !important;
  border-radius: 0 !important;
  color: inherit !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
  min-height: 0 !important;
}
toolbarbutton:not([disabled=true]):hover {
  border-color: ThreeDDarkShadow !important;
  box-shadow: inset 1px 1px 0 ThreeDHighlight, inset -1px -1px 0 ThreeDShadow !important;
  color: #0000FF !important;
}
toolbarbutton:not([disabled=true]):hover:active, toolbarbutton:not([disabled=true])[open=true] {
  border-color: ThreeDDarkShadow !important;
  box-shadow: inset 1px 1px 0 ThreeDShadow, inset -1px -1px 0 ThreeDHighlight !important;
  padding: 4px 2px 2px 4px !important;
  color: #0000FF !important;
}
toolbarbutton[disabled=true] {
  border-color: transparent !important;
  padding: 3px !important;
  color: GrayText !important;
}
toolbarbutton:not([disabled=true])[checked=true] {
  border-color: ThreeDLightShadow !important;
  box-shadow: inset 1px 1px 0 ThreeDShadow, inset -1px -1px 0 ThreeDHighlight !important;
  padding: 3px !important;
  background-color: ThreeDHighlight !important;
  color: ButtonText !important;
}
toolbarbutton[type=menu-button] {
  align-items: stretch !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.toolbarbutton-menubutton-button {
  align-items: center !important;
  justify-content: center !important;
}

.toolbarbutton-menubutton-button,
.toolbarbutton-menubutton-dropmarker {
  appearance: none !important;
  border: 1px solid !important;
  border-color: transparent !important;
  padding: 2px !important;
}
.toolbarbutton-menubutton-button[disabled=true],
.toolbarbutton-menubutton-dropmarker[disabled=true] {
  padding: 2px !important;
  border-color: transparent !important;
}
toolbarbutton[type=menu-button]:not([disabled=true]):hover > .toolbarbutton-menubutton-button,
toolbarbutton[type=menu-button]:not([disabled=true]):hover > .toolbarbutton-menubutton-dropmarker {
  box-shadow: none !important;
  border-top-color: ThreeDHighlight !important;
  border-right-color: ThreeDShadow !important;
  border-bottom-color: ThreeDShadow !important;
  border-left-color: ThreeDHighlight !important;
}
toolbarbutton[type=menu-button]:not([disabled=true]):hover:active > .toolbarbutton-menubutton-button, toolbarbutton[type=menu-button][open=true] > .toolbarbutton-menubutton-button,
toolbarbutton[type=menu-button]:not([disabled=true]):hover:active > .toolbarbutton-menubutton-dropmarker,
toolbarbutton[type=menu-button][open=true] > .toolbarbutton-menubutton-dropmarker {
  box-shadow: none !important;
  border-top-color: ThreeDShadow !important;
  border-right-color: ThreeDHighlight !important;
  border-bottom-color: ThreeDHighlight !important;
  border-left-color: ThreeDShadow !important;
}

.toolbarbutton-menu-dropmarker {
  -moz-image-region: auto !important;
  list-style-image: url("chrome://nettspend/skin/images/arrow/arrow-dn.gif") !important;
}
.toolbarbutton-menu-dropmarker[disabled=true] {
  list-style-image: url("chrome://nettspend/skin/images/arrow/arrow-dn-dis.gif") !important;
}

.toolbarbutton-menubutton-dropmarker {
  -moz-image-region: auto !important;
  align-items: center !important;
  padding: 0 0 1px 0 !important;
  list-style-image: url("chrome://nettspend/skin/images/arrow/arrow-dn.gif") !important;
}
.toolbarbutton-menubutton-dropmarker[disabled=true] {
  border: 1px solid transparent !important;
  padding: 0 0 1px 0 !important;
  list-style-image: url("chrome://nettspend/skin/images/arrow/arrow-dn-dis.gif") !important;
}
toolbarbutton[type=menu-button][open=true] > .toolbarbutton-menubutton-dropmarker {
  padding: 1px 0 0 0 !important;
}

#back-button,
#forward-button,
#reload-button {
  list-style-image: url("chrome://nettspend/skin/images/icons/btn1.gif") !important;
}

#back-button .toolbarbutton-icon {
  width: 19px !important;
  height: 20px !important;
}
#back-button {
  -moz-image-region: rect(0px 19px 20px 0) !important;
}
#back-button:not([disabled=true]):hover {
  -moz-image-region: rect(0px 38px 20px 19px) !important;
}
#back-button:not([disabled=true]):active {
  -moz-image-region: rect(0px 57px 20px 38px) !important;
}
#back-button[disabled=true] {
  -moz-image-region: rect(0px 76px 20px 57px) !important;
}

#forward-button .toolbarbutton-icon {
  width: 19px !important;
  height: 20px !important;
}
#forward-button {
  -moz-image-region: rect(20px 19px 40px 0) !important;
}
#forward-button:not([disabled=true]):hover {
  -moz-image-region: rect(20px 38px 40px 19px) !important;
}
#forward-button:not([disabled=true]):active {
  -moz-image-region: rect(20px 57px 40px 38px) !important;
}
#forward-button[disabled=true] {
  -moz-image-region: rect(20px 76px 40px 57px) !important;
}

#reload-button .toolbarbutton-icon {
  width: 22px !important;
  height: 20px !important;
}
#reload-button {
  -moz-image-region: rect(40px 22px 60px 0) !important;
}
#reload-button:not([disabled=true]):hover {
  -moz-image-region: rect(40px 44px 60px 22px) !important;
}
#reload-button:not([disabled=true]):active {
  -moz-image-region: rect(40px 66px 60px 44px) !important;
}
#reload-button[disabled=true] {
  -moz-image-region: rect(40px 88px 60px 66px) !important;
}

#print-button,
#stop-button {
  list-style-image: url("chrome://nettspend/skin/images/icons/btn2.gif") !important;
}

#print-button .toolbarbutton-icon {
  width: 23px !important;
  height: 21px !important;
}
#print-button {
  -moz-image-region: rect(0px 23px 21px 0) !important;
}
#print-button:not([disabled=true]):hover {
  -moz-image-region: rect(0px 46px 21px 23px) !important;
}
#print-button:not([disabled=true]):active {
  -moz-image-region: rect(0px 69px 21px 46px) !important;
}
#print-button[disabled=true] {
  -moz-image-region: rect(0px 92px 21px 69px) !important;
}

#stop-button .toolbarbutton-icon {
  width: 22px !important;
  height: 20px !important;
}
#stop-button {
  -moz-image-region: rect(21px 22px 41px 0) !important;
}
#stop-button:not([disabled=true]):hover {
  -moz-image-region: rect(21px 44px 41px 22px) !important;
}
#stop-button:not([disabled=true]):active {
  -moz-image-region: rect(21px 66px 41px 44px) !important;
}
#stop-button[disabled=true] {
  -moz-image-region: rect(21px 88px 41px 66px) !important;
}

#nav-bar .toolbarbutton-1 .toolbarbutton-text {
  display: flex !important;
}
#nav-bar .toolbarbutton-1[type=menu-button] {
  flex-direction: row !important;
  padding: 0 !important;
}
#nav-bar .toolbarbutton-1[type=menu] > .toolbarbutton-menu-dropmarker {
  display: none !important;
}
#nav-bar .toolbarbutton-1,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 47px !important;
  flex-direction: column !important;
}
#nav-bar .toolbarbutton-1:not([type=menu-button]),
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
#nav-bar .toolbarbutton-1[disabled=true]:hover:active {
  padding: 3px 8px 3px 7px !important;
}
#nav-bar .toolbarbutton-1:not([type=menu-button]):hover:active,
#nav-bar .toolbarbutton-1:not([type=menu-button])[open=true],
#nav-bar .toolbarbutton-1:hover:active > .toolbarbutton-menubutton-button {
  padding: 4px 7px 2px 8px !important;
}

.button-toolbar {
  appearance: none !important;
  -moz-user-focus: none !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  min-width: 0 !important;
  padding: 1px !important;
  color: -moz-DialogText !important;
}
.button-toolbar > .button-box {
  margin: 0 !important;
  padding: 1px 2px !important;
}
.button-toolbar > .button-box > .button-icon,
.button-toolbar > .button-box > .button-text {
  margin: 0 !important;
  margin-inline-end: 2px !important;
}
.button-toolbar:hover:active > .button-box {
  padding: 2px 1px 0px 3px !important;
}
.button-toolbar, .button-toolbar[disabled=true]:hover, .button-toolbar[disabled=true]:hover:active {
  border-color: transparent !important;
  box-shadow: inset 1px 1px 0 ThreeDHighlight, inset -1px -1px 0 ThreeDShadow !important;
}
.button-toolbar:not([disabled=true]):hover {
  border-color: ThreeDDarkShadow !important;
  box-shadow: inset 1px 1px 0 ThreeDHighlight, inset -1px -1px 0 ThreeDShadow !important;
}
.button-toolbar:not([disabled=true]):hover:active {
  border-color: ThreeDDarkShadow !important;
  box-shadow: inset 1px 1px 0 ThreeDShadow, inset -1px -1px 0 ThreeDHighlight !important;
}

#search-button {
  margin: 0px 4px 0px 0px !important;
  min-height: 25px !important;
  font: message-box !important;
  font-weight: bold !important;
  list-style-image: url("chrome://nettspend/skin/images/icons/search.gif") !important;
}
#search-button:hover {
  list-style-image: url("chrome://nettspend/skin/images/icons/search-hov.gif") !important;
}
#search-button:hover:active {
  list-style-image: url("chrome://nettspend/skin/images/icons/search-act.gif") !important;
}

#nav-bar #PanelUI-menu-button {
  border: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  min-width: 1px !important;
  max-width: 1px !important;
  margin-inline-start: -1px !important;
  list-style-image: none !important;
}
#nav-bar #PanelUI-menu-button .toolbarbutton-text {
  display: none !important;
}

#stop-reload-button #stop-button,
#stop-reload-button #reload-button {
  display: flex !important;
}

#PersonalToolbar toolbarbutton {
  flex-direction: row !important;
}
#PersonalToolbar toolbarbutton > .toolbarbutton-text {
  display: flex !important;
}
#PersonalToolbar toolbarbutton > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
#PersonalToolbar toolbarbutton:not([container=true]) {
  cursor: pointer !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
}
#PersonalToolbar toolbarbutton:not([container=true]):hover {
  text-decoration: underline !important;
}
#PersonalToolbar #home-button {
  list-style-image: url("chrome://nettspend/skin/images/bookmarks/home.gif") !important;
}
#PersonalToolbar #home-button:hover {
  list-style-image: url("chrome://nettspend/skin/images/bookmarks/home-hover.gif") !important;
}
#PersonalToolbar #home-button:hover:active {
  list-style-image: url("chrome://nettspend/skin/images/bookmarks/home-active.gif") !important;
}

.bookmark-item[container] {
  list-style-image: url("chrome://nettspend/skin/images/bookmarks/bookmark-folder-closed.gif") !important;
}
.bookmark-item[container][open=true] {
  list-style-image: url("chrome://nettspend/skin/images/bookmarks/bookmark-folder-open.gif") !important;
}

#PlacesToolbarItems > toolbarseparator {
  margin: 2px 0.2em 2px 0.2em !important;
  padding-inline: 0 !important;
}
#PlacesToolbarItems > toolbarseparator::before {
  content: none !important;
}

#urlbar-container {
  margin: 4px 6px !important;
  padding: 0 !important;
  min-height: 0 !important;
  align-items: center !important;
}

#urlbar, #searchbar {
  font-size: 1em !important;
}

#urlbar {
  padding: 2px !important;
  display: flex !important;
  width: 100% !important;
  height: auto !important;
  min-height: 0 !important;
  position: relative !important;
  border: 1px solid transparent !important;
  box-shadow: inset 1px 1px 0 ThreeDShadow, inset -1px -1px 0 ThreeDHighlight, inset 0 0 0 2px ThreeDDarkShadow !important;
  color: -moz-FieldText !important;
  background-color: -moz-Field !important;
  background-clip: padding-box !important;
  margin-inline-end: 4px !important;
}
#urlbar #urlbar-background {
  visibility: collapse !important;
}
#urlbar .urlbar-input-container,
#urlbar #urlbar-input-container {
  border: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
#urlbar #urlbar-input::placeholder {
  color: GrayText !important;
  opacity: 0 !important;
}
#urlbar .urlbar-input-box {
  margin-inline: 3px !important;
}

.urlbar-page-action {
  width: 16px !important;
  height: 16px !important;
  outline: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}

#page-proxy-deck,
#page-proxy-favicon {
  width: 16px !important;
  height: 16px !important;
}

#page-proxy-deck {
  cursor: grab !important;
  margin: 2px 3px !important;
}

#page-proxy-favicon {
  visibility: visible !important;
  content: url("chrome://nettspend/skin/images/bookmarks/location.gif") !important;
}

#identity-box {
  visibility: collapse !important;
  margin-inline-end: 0 !important;
}

@media not (-moz-windows-classic) {
  statusbar {
    -moz-default-appearance: statusbar;
    appearance: auto;
  }
}
statusbar {
  border-top: 1px solid ThreeDLightShadow;
  border-left: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDHighlight;
  background-color: -moz-Dialog;
}

@media not (-moz-windows-classic) {
  statusbarpanel {
    -moz-default-appearance: statusbarpanel;
    appearance: auto;
  }
}
statusbarpanel {
  align-items: center;
  justify-content: center;
  border-left: 1px solid ThreeDHighlight;
  border-top: 1px solid ThreeDHighlight;
  border-right: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDShadow;
  padding: 0 4px;
}

.statusbar-resizerpanel {
  align-items: flex-end;
  justify-content: flex-end;
  -moz-default-appearance: statusbarpanel;
  appearance: auto;
  padding: 0px;
}

.statusbarpanel-iconic {
  padding: 0px;
}

#status-bar {
  border-top: 0 !important;
}

#tabbrowser-tabbox {
  border-top: 1px solid ThreeDDarkShadow !important;
  border-bottom: 1px solid ThreeDLightShadow !important;
  border-left: 1px solid ThreeDShadow !important;
  padding-inline-start: 1px !important;
  box-shadow: inset 1px 0 0 ThreeDDarkShadow !important;
}

menubar > menu {
  appearance: none !important;
  border-radius: 0 !important;
  border: 1px solid transparent !important;
  padding: 2px 5px 2px 7px !important;
  margin: 1px 0px 1px 0px !important;
}
menubar > menu[_moz-menuactive=true] {
  background-color: transparent !important;
  border-top: 1px solid ThreeDHighlight !important;
  border-right: 1px solid ThreeDShadow !important;
  border-bottom: 1px solid ThreeDShadow !important;
  border-left: 1px solid ThreeDHighlight !important;
}
menubar > menu[_moz-menuactive=true][open=true] {
  border-top: 1px solid ThreeDShadow !important;
  border-right: 1px solid ThreeDHighlight !important;
  border-bottom: 1px solid ThreeDHighlight !important;
  border-left: 1px solid ThreeDShadow !important;
}

.menubar-text,
.menubar-left {
  margin: 0px 2px 0px 0px !important;
  color: inherit !important;
}

#mini-nav {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/navigator.gif") !important;
}
#mini-nav:hover {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/navigator-hov.gif") !important;
}

.icon-navigator16 {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/navigator-16.gif");
}

#mini-mail {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/mail.gif") !important;
}
#mini-mail:hover {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/mail-hov.gif") !important;
}

.icon-mail16 {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/mail-16.gif");
}

#mini-addr {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/addressbook.gif") !important;
}
#mini-addr:hover {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/addressbook-hov.gif") !important;
}

.icon-addressbook16 {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/addressbook-16.gif");
}

#mini-comp {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/composer.gif");
}
#mini-comp:hover {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/composer-hov.gif");
}

.icon-composer16 {
  list-style-image: url("chrome://nettspend/skin/images/taskbar/composer-16.gif");
}

/*# sourceMappingURL=nettspend.css.map */
